[submodule "vendor/go-script-bash"]
	path = vendor/go-script-bash
	url = https://github.com/nkakouros-forks/go-script-bash
	branch = stable
[submodule "vendor/bash-infinity"]
	path = vendor/bash-infinity
	url = https://github.com/nkakouros-forks/bash-oo-framework
	branch = stable
[submodule "vendor/autohook"]
	path = vendor/autohook
	url = https://github.com/nkakouros-forks/Autohook
	branch = stable
[submodule "vendor/bats-core"]
	path = vendor/bats-core
	url = https://github.com/bats-core/bats-core
	branch = master
[submodule "vendor/bats-support"]
	path = vendor/bats-support
	url = https://github.com/bats-core/bats-support
	branch = master
[submodule "vendor/bats-assert"]
	path = vendor/bats-assert
	url = https://github.com/bats-core/bats-assert
	branch = master
[submodule "vendor/bats-file"]
	path = vendor/bats-file
	url = https://github.com/bats-core/bats-file
	branch = master
